.placeholder {
  padding: var(--space-1) 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    margin-right: var(--space-1);
  }
}

.trigger,
.triggerFocus {
  flex: 1;
  height: var(--space-10);
  padding: var(--space-1) var(--space-3);

  background-color: var(--colors-white);
  border-radius: var(--radii-md);
  box-shadow: 0 0 8px 4px rgba(200, 200, 200, 0.1);

  color: var(--colors-gray-600);
  font-size: var(--font-size-xs);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.valueContainer {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.value {
  display: flex;
  align-items: center;

  p {
    flex: 1;
    max-width: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none !important;
  }

  &:not(:first-child) span {
    margin-left: calc(-1 * var(--space-2));
  }

  span {
    width: var(--space-5);
    height: var(--space-5);
    padding: var(--space-2);
    border-radius: var(--radii-full);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.option,
.optionFocus {
  padding: var(--space-2) var(--space-3);
  display: flex;
  align-items: center;
  transition: 0.15s;
  cursor: pointer;
  font-size: var(--font-size-xs);
  background: var(--colors-pokedex-ligth);
  border-radius: var(--radii-sm);

  p {
    font-weight: bold;
    text-transform: capitalize;
  }

  span {
    width: var(--space-5);
    height: var(--space-5);
    padding: var(--space-2);
    margin-right: var(--space-2);
    border-radius: var(--radii-full);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.optionAbility,
.optionFocusAbility {
  width: 100%;
}

.menu {
  position: absolute;
  top: var(--space-14);
  left: 0;
  z-index: var(--z-index-overlay);
  width: 100%;
  padding: var(--space-4);
  background: var(--colors-white);
  border-radius: var(--radii-md);
  border: none;
  box-shadow: 0 0 8px 4px rgba(200, 200, 200, 0.1);
}

.menuWrapper {
  width: 100%;
  max-height: 20rem;
  overflow: auto;

  display: flex;
  gap: var(--space-3);
  flex-wrap: wrap;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

.noOptions {
  width: 100%;
  font-size: var(--font-size-xs);
  font-weight: bold;
  color: var(--colors-gray-600);
  text-align: center;
}

.selectSkeleton {
  flex: 1;
  height: var(--space-10);
  border-radius: var(--radii-md);

  animation: loading 1.5s ease infinite;
  background-position: -150% 0;
  background-size: 100% 100%;
  background: linear-gradient(
      90deg,
      var(--colors-pokedex-medium) 35%,
      #ffffffaa,
      var(--colors-pokedex-medium) 55%
    )
    right / 300% 100%;
}

@keyframes loading {
  to {
    background-position: left;
  }
}
