.noSelected {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    color: var(--colors-pokedex-dark);
    font-size: var(--font-size-xs);
  }
}

.info {
  width: 100%;
  margin-top: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: var(--space-9);
    height: var(--space-9);
    padding: var(--space-2);
    background: var(--colors-white);
    border-radius: var(--radii-full);
    margin-right: var(--space-2);
  }
}

.copyright {
  width: min-content;
  padding: var(--space-1) var(--space-2);
  margin: auto auto 0;
  font-size: var(--font-size-xs);
  cursor: pointer;

  display: flex;
  align-items: center;

  svg {
    margin-right: var(--space-1);
  }
}

.content {
  h2 {
    font-size: var(--font-size-4xl);
    margin-bottom: var(--space-3);
  }

  p:not(:last-child) {
    margin-bottom: var(--space-6);
  }

  a {
    color: var(--colors-yellow);
    text-decoration: underline var(--colors-yellow);
  }
}

@media screen and (max-width: 980px) {
  .noSelected {
    padding: var(--space-8) 0;
  }
}
