.placeholder {
  padding: var(--space-1) 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    flex: 1;
  }

  svg {
    margin-right: var(--space-1);
  }
}

.trigger {
  --hover-background: var(--colors-gray-100);
  flex: 1;
  height: var(--space-10);
  padding: var(--space-1) var(--space-4);

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--colors-gray-600);

  cursor: pointer;
  user-select: none;
  background: var(--colors-white);
  border-radius: var(--radii-md);
  box-shadow: var(--shadow-light);

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: 0.15s background;

  &:hover {
    background: var(--hover-background);
  }

  input {
    cursor: pointer;
  }
}

.orderTrigger {
  @extend .trigger;
  width: min-content;
  background: transparent;
  box-shadow: none;
  color: var(--colors-pokedex-dark);
  --hover-background: transparent;
}

.valueContainer {
  max-width: 6rem;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.value {
  display: flex;
  align-items: center;

  p {
    color: var(--colors-color);
    display: none !important;

    &.order {
      max-width: none;
      display: block !important;
    }
  }

  &:not(:first-child) span {
    margin-left: calc(-1 * var(--space-2));
  }

  span {
    width: var(--space-4);
    height: var(--space-4);
    padding: var(--space-1);
    border-radius: var(--radii-full);

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--colors-background);
  }
  svg {
    color: var(--colors-white);
  }
}

.option {
  padding: var(--space-2) var(--space-3);

  font-size: var(--font-size-xs);
  cursor: pointer;
  transition: 0.15s;
  background: var(--colors-pokedex-ligth);
  border-radius: var(--radii-sm);

  display: flex;
  align-items: center;

  p {
    font-weight: var(--font-weight-bold);
    color: var(--colors-color);
    text-transform: capitalize;
  }

  span {
    width: var(--space-5);
    padding: var(--space-1);
    margin-right: var(--space-2);
    border-radius: var(--radii-full);

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--colors-background);
  }

  svg {
    color: var(--colors-white);
  }
}

.optionFocus {
  box-shadow: 0 0 0 3px var(--colors-pokedex-medium);
  filter: brightness(0.95);
}

.optionSelected {
  box-shadow: 0 0 0 3px var(--colors-pokedex-medium);
  // background: var(--colors-pokedex-medium);
}

.optionFull {
  @extend .option;
  width: 100%;
}

.menu {
  position: absolute;
  top: var(--space-14);
  left: 0;
  width: 100%;
  z-index: var(--z-index-overlay);
  background: var(--colors-white);
  border-radius: var(--radii-md);
  border: none;
  box-shadow: var(--shadow-light);
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menuWrapper {
  max-height: 20rem;
  width: 100%;
  padding: var(--space-4);
  overflow: auto;

  display: flex;
  gap: var(--space-3);
  flex-wrap: wrap;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

.noOptions {
  width: 100%;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--colors-red-light);
}

.selectSkeleton {
  width: 100%;
  height: var(--space-10);

  animation: loading 1.5s ease infinite;
  background-position: -150% 0;
  background-size: 100% 100%;
  background: linear-gradient(
      90deg,
      var(--colors-pokedex-medium) 35%,
      #ffffffaa,
      var(--colors-pokedex-medium) 55%
    )
    right / 300% 100%;
  border-radius: var(--radii-md);
}

@keyframes loading {
  to {
    background-position: left;
  }
}

@media screen and (max-width: 640px) {
  .trigger {
    width: 100%;
  }
}
