.placeholder {
  padding: var(--space-1) 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  p {
    flex: 1;
  }

  svg {
    margin-right: var(--space-1);
  }
}

.valueContainer {
  max-width: 6rem;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.menu {
  position: absolute;
  top: var(--space-14);
  left: 0;
  width: 100%;
  z-index: var(--z-index-overlay);
  background: var(--colors-white);
  border-radius: var(--radii-md);
  border: none;
  box-shadow: var(--shadow-light);
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menuWrapper {
  max-height: 20rem;
  width: 100%;
  padding: var(--space-4);
  overflow: auto;

  display: flex;
  gap: var(--space-3);
  flex-wrap: wrap;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

.noOptions {
  width: 100%;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--colors-red-light);
}

.selectSkeleton {
  width: 100%;
  height: var(--space-10);

  animation: loading 1.5s ease infinite;
  background-position: -150% 0;
  background-size: 100% 100%;
  background: linear-gradient(
      90deg,
      var(--colors-pokedex-medium) 35%,
      #ffffffaa,
      var(--colors-pokedex-medium) 55%
    )
    right / 300% 100%;
  border-radius: var(--radii-md);
}

@keyframes loading {
  to {
    background-position: left;
  }
}

@media screen and (max-width: 640px) {
  .trigger {
    width: 100%;
  }
}
