.section {
  width: 100%;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: var(--space-5);
  row-gap: var(--space-12);
}

.noMatch {
  width: 100%;
  font-size: var(--font-size-sm);
  color: var(--colors-gray-600);
  text-align: center;
}
