.appWrapper {
  max-width: 64rem;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  gap: var(--space-6);
  padding: var(--space-8);
}

.main {
  flex: 2;
}

.aside {
  position: sticky;
  top: var(--space-8);
  flex: 1;
  height: calc(100vh - var(--space-16));
  background: var(--colors-white);
  border-radius: var(--radii-lg);

  box-shadow: 0 0 8px 4px rgba(200, 200, 200, 0.1);
}

.noSelected {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: var(--space-1);
  }

  p {
    color: var(--colors-gray-600);
  }
}