.appWrapper {
  max-width: 68rem;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  gap: var(--space-6);
  padding: var(--space-8);
}

.githubLink {
  position: fixed;
  bottom: var(--space-8);
  right: var(--space-8);
  padding: var(--space-2);
  aspect-ratio: 1 / 1;
  z-index: var(--z-index-overlay);
  transition: 0.2s;

  border-radius: var(--radii-md);
  background: var(--colors-white);
  box-shadow: 0 0 8px 4px rgba(200, 200, 200, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: translateY(calc(-1 * var(--space-1)));
  }
}

.main {
  flex: 2.5;
}

.aside {
  position: sticky;
  top: var(--space-16);
  flex: 1;
  transition: 0.3s;
  height: min-content;
  padding: var(--space-4);
  background: var(--colors-white);
  border-radius: var(--radii-lg);
  text-align: center;
  box-shadow: 0 0 8px 4px rgba(200, 200, 200, 0.1);
}
