.loading {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: var(--z-index-modal);
  background: var(--colors-red);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    animation: rotating 1s infinite linear;
  }

  p {
    font-size: var(--font-size-xs);
    color: var(--colors-white);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
