.trigger {
  max-width: 8rem;
  flex: 1;
  flex-wrap: nowrap;
  padding: var(--space-1) var(--space-2);
  display: flex;
  align-items: center;
  outline: none;

  background-color: var(--colors-white);
  border-radius: var(--radii-md);
  box-shadow: 0 0 8px 4px rgba(200, 200, 200, 0.1);

  span > div > img {
    margin-right: var(--space-2);
  }

  .span img {
    margin: 0;
  }

  p {
    flex: 1;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    color: var(--colors-gray-600);
  }

  span > div > span ~ p {
    max-width: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.triggerIcon {
  margin: 0;
  margin-left: var(--space-4);
}

.content {
  width: 100%;
  background: var(--colors-white);
  border-radius: var(--radii-md);
  padding: var(--space-3);
}

.item {
  border-radius: var(--radii-sm);
  outline: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &[data-state="checked"] {
    background: var(--colors-pokedex-medium);
  }

  &:not([data-state="checked"]):hover {
    background: var(--colors-pokedex-ligth);
  }
}

.itemWrapper {
  padding: var(--space-1) var(--space-3);
  cursor: pointer;
  outline: none;
  width: 100%;

  outline: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  .span {
    height: var(--space-5);
    margin-right: var(--space-2);
    aspect-ratio: 1 /1;
    border-radius: var(--radii-full);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxs);
    color: var(--colors-pokedex-ligth);
  }
  p {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    color: var(--colors-gray-600);
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
