.search {
  padding: var(--space-4);
  margin-bottom: var(--space-6);
  background: var(--colors-white);
  border-radius: var(--radii-md);
  box-shadow: var(--shadow-light);

  display: flex;
  gap: var(--space-4);
  align-items: center;

  input {
    flex: 1;
    padding: 0 var(--space-2);
    font-size: var(--font-size-xs);
    border: none;
    outline: none;
  }

  button {
    padding: var(--space-1);
    background: var(--colors-red);
    border-radius: var(--radii-sm);
    box-shadow: 2px 2px 10px 5px rgba(255, 83, 80, 0.4);
  }
}

.listAttributes {
  position: relative;
  margin-bottom: var(--space-4);
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div:nth-child(1) {
    max-width: var(--space-28);
  }

  .idLimit {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    label {
      margin: 0 var(--space-1);
      font-size: var(--font-size-xs);
      font-weight: bold;
    }

    input {
      max-width: var(--space-24);
      width: 100%;
      padding: var(--space-2) var(--space-4);
      font-size: var(--font-size-xs);
      text-align: right;
      outline: none;
      background: none;
      border: var(--border-width-thin) solid var(--colors-gray-600);
      border-radius: var(--radii-md);
    }
  }
}

.pokemonAttributes {
  position: relative;
  width: 100%;
  margin-bottom: var(--space-12);

  display: flex;
  align-items: center;
  gap: var(--space-2);

  & > div {
    width: 100%;
  }
}

.clear {
  height: var(--space-10);
  aspect-ratio: 1 / 1;
  padding: var(--space-2);
  background: var(--colors-gray-600);
  border-radius: var(--radii-md);
}

@media screen and (max-width: 640px) {
  .pokemonAttributes {
    flex-direction: column;
  }

  .clear {
    width: 100%;
    margin-top: var(--space-2);
  }

  .pokemonAttributes > div {
    position: relative;
  }
}
