.aside {
  position: sticky;
  top: var(--space-6);
  max-height: calc(100vh - var(--space-12));
  height: 100vh;
  flex: 1;
  overflow-y: auto;
  border-radius: var(--radii-lg);

  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  position: relative;
  top: var(--space-16);
  height: max-content;
  padding: var(--space-4);
  text-align: center;

  border-radius: var(--radii-lg);
  background: var(--colors-white);
  box-shadow: var(--shadow-light);
}

.gender {
  position: absolute;
  top: var(--space-6);
  right: var(--space-6);

  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  align-items: center;

  div {
    padding: var(--space-1);
    border-radius: var(--radii-md);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: var(--space-6);
    height: var(--space-6);
  }

  .male,
  .female,
  .genderLess {
    background: var(--colors-pokedex-ligth);
  }

  .male {
    color: var(--colors-blue-light);
  }

  .female {
    color: var(--colors-rose-light);
  }

  .genderLess {
    background: var(--colors-gray-200);
    color: var(--colors-gray-600);
  }
}

.figure {
  position: relative;
  margin-bottom: var(--space-18);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: var(--space-32);
    height: auto;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-index-up);
  }
}

.id {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--colors-gray-600);
}

.name {
  margin-top: var(--space-1);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-base);
  text-transform: capitalize;

  &.legendary {
    color: transparent;
    background: linear-gradient(45deg, #4158d0 20%, #c850c0 50%, #ffcc70 100%);
    background-size: 200% 100%;
    background-clip: text;

    animation: textGradient 5s infinite linear;
  }
}

.types {
  margin-top: var(--space-1);
  display: flex;
  gap: var(--space-3);
  align-items: center;
  justify-content: center;

  p {
    padding: var(--space-px) var(--space-2);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    border-radius: var(--radii-sm);

    color: var(--colors-color);
    background: var(--colors-background);
  }
}

.title {
  user-select: none;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--space-px);
}

.noData {
  color: var(--colors-gray-600);
}

.entry,
.abilities,
.characteristics,
.stats,
.evolutions {
  margin-top: var(--space-5);
}

.entry {
  h2 {
    margin-bottom: var(--space-2);
  }
  p {
    font-size: var(--font-size-xs);
    line-height: 140%;
  }
}

.abilities {
  h2 {
    margin-bottom: var(--space-2);
  }

  & > div {
    display: grid;
    gap: var(--space-2);
    grid-template-columns: repeat(2, 1fr);
  }

  p {
    flex: 1;
    padding: var(--space-1) var(--space-3);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    white-space: nowrap;
    background: var(--colors-pokedex-ligth);
    border: var(--border-width-thin) solid var(--colors-gray-600);
    border-radius: var(--radii-full);

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: 0.15s background;

    &:hover {
      background: var(--colors-gray-100);
    }

    &[data-hidden="true"] {
      border: var(--border-width-thin) solid var(--colors-red-medium);

      svg {
        color: var(--colors-red-light);
        margin-left: var(--space-2);
      }
    }
  }
}

.characteristics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--space-2);
  row-gap: var(--space-4);

  h2 {
    margin-bottom: var(--space-2);
  }

  p {
    width: 100%;
    height: var(--space-8);
    padding: var(--space-1) var(--space-2);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    background: var(--colors-pokedex-ligth);
    border-radius: var(--radii-full);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);

    transition: 0.15s background;

    &:hover {
      background: var(--colors-gray-100);
    }
  }

  span {
    height: var(--space-5);
    aspect-ratio: 1 / 1;
    border-radius: var(--radii-full);
    color: var(--colors-white);

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--colors-background);
  }

  .hoverCard {
    padding: var(--space-1) var(--space-2);
    color: var(--colors-white);
    text-transform: capitalize;
    border-radius: var(--radii-sm);
    box-shadow: var(--shadow-light);
    user-select: none;

    span {
      background: var(--colors-white);
      margin-right: var(--space-2);
    }

    svg {
      color: var(--colors-color);
    }
  }
}

.stats {
  h2 {
    margin-bottom: var(--space-2);
  }

  div {
    display: flex;
    gap: var(--space-2);
    align-items: center;
    justify-content: center;
  }

  span {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    font-size: 0.5rem;
    border-radius: var(--radii-full);

    color: var(--colors-white);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    flex: 1;
    padding: var(--space-1);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    background: var(--colors-pokedex-ligth);
    border-radius: var(--radii-full);

    transition: 0.15s background, 0.15s filter;

    &:hover {
      background: var(--colors-gray-100);
    }

    &.total {
      background: #98baff;
      span {
        background: #7195dc;
      }

      &:hover {
        filter: brightness(1.05);
      }
    }
  }
}

.evolutions {
  width: 100%;
  overflow-y: visible;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  h2 {
    margin-bottom: var(--space-4);
  }

  button {
    outline: none;
    transition: 0.15s;

    &:hover {
      transform: translateY(calc(-1 * var(--space-2)));
      z-index: var(--z-index-up);
    }
    img {
      filter: drop-shadow(-5px 0 0 var(--colors-pokedex-ligth));
    }
  }

  button + button {
    margin-left: calc(-1 * var(--space-5));
  }

  p {
    padding: 0 var(--space-2);
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-bold);
    white-space: nowrap;
    color: var(--colors-pokedex-dark);
    background: var(--colors-pokedex-ligth);
    border-radius: var(--radii-full);

    transition: 0.15s background;

    &:hover {
      background: var(--colors-gray-100);
    }
  }

  div {
    display: flex;
    gap: var(--space-2);
    align-items: center;

    button:first-of-type {
      margin-left: auto;
    }

    button:last-of-type {
      margin-right: auto;
    }
  }
}

.nextPrevPokemons {
  position: relative;
  width: 100%;
  margin-top: var(--space-4);

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.2px;
    height: 36%;

    transform: translate(-50%, -50%);
    background: var(--colors-gray-600);
    border-radius: var(--radii-full);
  }

  button {
    outline: none;
    width: 50%;
    padding: var(--space-4) var(--space-3);

    background: var(--colors-pokedex-ligth);
    transition: 0.15s background;

    &:hover {
      background: var(--colors-gray-200);
    }
  }

  svg {
    color: var(--colors-gray-600);
  }

  .pokemonImage {
    width: var(--space-5);
    height: auto;
    aspect-ratio: 1 /1;
  }

  .prev {
    justify-content: flex-start;
    border-top-left-radius: var(--radii-md);
    border-bottom-left-radius: var(--radii-md);
  }

  .next {
    justify-content: flex-end;
    border-top-right-radius: var(--radii-md);
    border-bottom-right-radius: var(--radii-md);
  }

  p {
    flex: 1;
    margin: 0 var(--space-1);
    overflow: hidden;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  span {
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-bold);
  }

  .pokemonImage {
    margin: var(--space-1);
  }
}

@media screen and (max-width: 980px) {
  .aside {
    display: none;
  }
}
