.loader {
  width: min-content;
  height: var(--space-8);
  margin: var(--space-10) auto;
  display: flex;
  align-items: center;

  gap: var(--space-2);

  .bar {
    width: var(--space-1);
    height: var(--space-2);
    animation: loader 1s infinite ease-in-out;
    background: var(--colors-red);
    animation: loader 1s infinite ease-in-out;

    &:nth-child(2) {
      animation-delay: -0.16s;
    }
    &:nth-child(1) {
      animation-delay: -0.32s;
    }
  }
}

@keyframes loader {
  0%,
  80%,
  100% {
    height: var(--space-4);
  }
  40% {
    height: var(--space-8);
  }
}

.pokemons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  column-gap: var(--space-5);
  row-gap: var(--space-12);
}
